<app-navbar></app-navbar>
<div class="container-fluidx">
  <div class="contact_us_text">
   <h1>Be a part of our team today!</h1>
  </div>
      <div class="contact_us_img">
         
      </div>
      <div class="contact_us_contactno">
         <div class="contact_info info_one">
          <h2>Sundeep</h2>
          <h2>+91  9686453774</h2>
         </div>
         <div class="contact_info info_two">
          <h2>Akashdeep</h2>
          <h2>+91  8617754839</h2>
         </div>
         <div class="contact_info info_three">
          <h2>Masud</h2>
          <h2>+91  70199 55395</h2>
         </div>
      </div>
  </div>
