<div class="container">
    <a routerLinkActive="active" 
       routerLink="/about-us">About Us</a> |

    <a routerLinkActive="active" 
       routerLink="/brands/uncle_peters_pancake">UNCLE PETERS</a> | 
       <a routerLinkActive="active" 
       routerLink="/brands/chainaama">CHAINAAMA</a> | 
       <a routerLinkActive="active" 
       routerLink="/brands/between_the_bread">BetweenTheBread</a> | 
       <a routerLinkActive="active" 
       routerLink="/brands/maggination">Maggination</a> | 
       <a routerLinkActive="active" 
       routerLink="/brands/the_lassi_pub">TheLassiPub</a> | 
       <a routerLinkActive="active" 
       routerLink="/brands/sub_spot">SubSpot</a> | 

    <a routerLinkActive="active" 
      routerLink="/partners">Partners</a> |
      <a routerLinkActive="active" 
      routerLink="/contact-us">Contact</a> 
      
  </div>
