<app-navbar></app-navbar>

<div class="main_padding">
    <div class="container" style="height: 100%;">
        <div class="container__heading">
            <h2 style="font-size: 2rem;font-weight: 700;">Return and Cancellation Policy

            </h2>
            <p class="p-2 m-0">For any queries: <b>[support@bogmalofoods.com]</b></p>
        </div>
        <div class="container__content">
            <div class="pt-4">
                <p style="text-align: center; font-size: 1.2em;"><strong>Points to take note:</strong></p>

                <p>We will issue a product exchange for any type of product that is returned in an unused, sellable and
                    intact condition, in its original packaging. The product has to be returned within 15 days of the
                    delivery date. Missing out on items, wrong order or excess charges must be reported within 24 to 48
                    hours of delivery. We only offer exchanges; we do not offer any refunds or any type of credits.
                </p>
                <p>Only products bought exclusively from the Bogmalo Foods and Hospitality LLP site can be returned back
                    to us. We will certainly not accept returns of products bought from any other third-party websites
                    or physical stores. The returns form is available in my account section must be completed in order
                    to process your return request.

                </p>

                <p>At the same time, you can email us at support@bogmalofoods.com. Please allow one to 2 weeks for your
                    return to be processed, it will need to be vetted by our customer service team. You will receive a
                    tele call or an email once your return is processed.
                </p>

            </div>

        </div>

    </div>
</div>