.navbar-nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: #604ca4;
    margin-top: 10px;
    box-shadow: 3px 7px 9px;
    letter-spacing:2px;
    @media (max-width: 990px) {
        justify-content: center;
        align-items: center;
    }
}

.navbar {
    position: absolute;
    width: 100%;
    z-index: 9;
}

ul li .nav-link {
    font-size: 19px;
    font-weight: 900;
    color: white;
}

ul li .dropdown-item {
    font-size: 15px;
    font-weight: 900;
    // color: ;
}

ul li .active {
    font-size: 20px;
    color: rgb(255, 234, 114)
}

.dropdown-menu{
    background-color: #604ca4;
    padding: 20px;
    box-shadow: 4px 3px 13px 1px;
}
.dropdown-menu li{
    border-bottom: 1px solid rgba(174, 174, 174, 0.231);
    opacity: 0.8;
  transition: 0.3s;
}

.dropdown-menu li:hover{
    box-shadow: 0px 3px 5px;
    background-color: #4b3b80;
    opacity: 1;
    color: black;

}
.dropdown-item:hover{
    // color: black;
}
.dropdown-item{
    color: white;
}
a,
a:link,
a:hover,
a:visited,
a:active,
a:focus{
   background-color: transparent; 
}
  
// @media only screen and (min-width: 770px) {
//     .navbar-nav:after {
//         content:'';
//         margin-top: 10px;
//       top:0;
//         transform:translateX(100%);
//         width: 50%;
//         height: 83%;
//         position: absolute;
//         z-index:1;
//         animation: slide 3s infinite;
         
//       /* 
//       CSS Gradient - complete browser support from http://www.colorzilla.com/gradient-editor/ 
//       */
//       background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(128,186,232,0) 99%, rgba(125,185,232,0) 100%); /* FF3.6+ */
//         background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.8)), color-stop(99%,rgba(128,186,232,0)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
//         background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
//         background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
//         background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* IE10+ */
//         background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* W3C */
//         // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
//     }
    
//     /* animation */
    
//     @keyframes slide {
//         0% {transform:translateX(-100%);}
//         100% {transform:translateX(100%);}
//     }
//   }




/* CSS */
.button-36 {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
//   font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
//   height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: 55px;
  margin-top: 20px;
    // width: 55px;
}

.button-36:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}
.button-36 img {
    width: 4.5vw;
  }
@media (max-width: 650px) {
    .button-36 img {
        width: 8vw;
      }
      .button-36 {
        height: 50px;
        width: 55px;
        padding: 0;
        margin-top: 5px;
      }
}

.filter_modal {
  .modal-dialog {
    width: 500px;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    right: 0;
    margin: 0;
    z-index: 100000;

    .modal-content {
      height: 100vh;
      border-radius: 0;
      padding: 20px;
      .category_seq_ist {
        list-style: none;
        margin: 0;
        padding: 0;

        .dragDiv {
          padding: 10px 12px;
          margin-bottom: 20px;
          border-radius: 4px;
          background: rgba(green, 1);
          cursor: move;
        }
      }
    }

    @media (max-width: 1024px) {
      width: 400px;
    }
    @media (max-width: 600px) {
      width: 300px;
    }
  }

  .sub-title {
    color: red;
  }
}
.unit-body{
  overflow-wrap: break-word;
  width: 90%;
}
.contact-no{
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
  text-decoration: none;
  align-items: center;
}
.unit-body{
  padding-left: 20px;
}

