<nav class="navbar navbar-expand-lg navbar-light p-0" style="font-family: 'Raleway', sans-serif;">
    <div class="container-fluid">
        <button class="button-36 navbar-toggler" role="button" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <!-- <i class="fa-duotone fa-bars"></i> -->
            <img src="../../../assets/logos/icons8-menu-blue-ui/icons8-menu-80.svg" />
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100">
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'active' : home}" aria-current="page" routerLink="/">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'active' : aboutUsActive}" routerLink="/about-us">ABOUT US</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'active' : partnersActive}" routerLink="/partners">BECAME OUR PARTNER</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" [ngClass]="{'active' : brandsActive}" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false" style="text-align: center;">
                        BRANDS
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLink="/brands/uncle_peters_pancake">UNCLE PETER'S PANCAKE</a>
                        </li>
                        <li><a class="dropdown-item" routerLink="/brands/chainaama">CHAINAAMA</a></li>
                        <li><a class="dropdown-item" routerLink="/brands/between_the_bread">BETWEEN THE BREADS</a></li>
                        <li><a class="dropdown-item" routerLink="/brands/maggination">MAGGINATION</a> </li>
                        <li><a class="dropdown-item" routerLink="/brands/the_lassi_pub">THE LASSI PUB</a> </li>
                        <li><a class="dropdown-item" routerLink="/brands/sub_spot">SUB SPOT</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'active' : contactusActive}" routerLink="/contact-us">CONTACT US</a>
                </li>
            </ul>
        </div>
    </div>
</nav>