<nav class="navbar navbar-expand-md navbar-light p-0">
    <div class="container-fluid">

        <button class="navbar-toggler mt-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about-us">ABOUT US</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/partners">BECAME OUR PARTNER</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        BRANDS
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLink="/brands/uncle_peters_pancake">UNCLE PETER'S PANCAKE</a>
                        </li>
                        <li><a class="dropdown-item" routerLink="/brands/chainaama">CHAINAAMA</a></li>
                        <li><a class="dropdown-item" routerLink="/brands/between_the_bread">BETWEEN THE BREADS</a></li>
                        <li><a class="dropdown-item" routerLink="/brands/maggination">MAGGINATION</a> </li>
                        <li><a class="dropdown-item" routerLink="/brands/the_lassi_pub">THE LASSI PUB</a> </li>
                        <li><a class="dropdown-item" routerLink="/brands/sub_spot">SUB SPOT</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact-us">CONTACT US</a>
                </li>
            </ul>
        </div>
    </div>
</nav>