<app-navbar></app-navbar>

<!-- HOME BANNER ONE -->
<div class="home_background_image">
   <div class="home_page_image">
      <img class="home_page_img" src="../../../assets/homePage/image-removebg-preview.png" />
   </div>
   <div class="home_page_box">
      <div class="home_page_text">
         <h1 class="header_text">
            BOGMALO <br />
            FOODS AND <br />
            HOSPITALITY
         </h1>

      </div>
   </div>
</div>

<!-- HOME BANNER CHAINAAMA -->
<div class="home_background_image_chainama">
   <div class="home_page_image">
      <img class="home_page_img_chainaama" src="../../../assets/homePage/chainaama.png" />
   </div>
   <div class="home_page_box_chainaama">
      <div class="home_page_text">
         <h1 class="header_text">
            CHAINAAMA
         </h1>
         <h3 class="header_text_tagline" style="color: white; font-weight: 100;letter-spacing: 9px; line-height: 2;">
            INDIA'S MODERN TEA STORE
         </h3>

      </div>
   </div>
</div>

<!-- HOME BANNER UNCLE PETERS PANCAKE -->
<div class="home_background_image_unclepeterspancake">
   <div class="home_page_image">
      <img class="home_page_img_unclepeters" src="../../../assets/homePage/image-removebg-preview.png" />
   </div>
   <div class="home_page_box_unclepeters">
      <div class="home_page_text">
         <h1 class="header_text">
            UNCLE PETER'S <br>
            PANCAKES
         </h1>
         <h3 class="header_text_tagline" style="color: white; font-weight: 100;letter-spacing: 9px; line-height: 2;">
            THE BEST PANCAKES IN INDIA
         </h3>

      </div>
   </div>
</div>

<!-- HOME BANNER THE LASSI PUB -->
<div class="home_background_image_lassipub">
   <div class="home_page_image">
      
      <img class="home_page_img_lassipub" src="../../../assets/homePage/lassi_pub_single.png" />
   </div>
   <div class="home_page_box_unclepeters">
      <div class="home_page_text">
         <h1 class="header_text">
            THE LASSI PUB
         </h1>
         <h3 class="header_text_tagline" style="color: white; font-weight: 100;letter-spacing: 9px; line-height: 2;">
            INDIA'S MOST LOVED LASSI
         </h3>

      </div>
   </div>
</div>

<!-- HOME BANNER BETWEEN THE BREADS -->
<div class="home_background_image_betweenthebreads">
   <div class="home_page_image">
      <img class="home_page_img_breads" src="../../../assets/homePage/BETWEEN_THE_BREAD_single.png" />
   </div>
   <div class="home_page_box_breads">
      <div class="home_page_text">
         <h1 class="header_text">
            BETWEEN THE 
            <br> BREAD
         </h1>
         <h3 class="header_text_tagline" style="color: white; font-weight: 100;letter-spacing: 9px; line-height: 2;">
            GOURMET SANDWICHES
         </h3>

      </div>
   </div>
</div>


<div class="home_brand_parent">
   <div class="home_brand_logo">
      <div class="header_img header_brand_logo_one">
         <div class="uncle_peter">
            <img routerLink="/brands/uncle_peters_pancake" src="../../../assets/logos/uncle_petere.png" />
         </div>
         <div class="magination">
            <img routerLink="/brands/maggination" src="../../../assets/logos/maggination.png" />
         </div>
         <div class="between_the_bread">
            <img routerLink="/brands/between_the_bread" src="../../../assets/logos/between_the_breads.png" />
         </div>
      </div>
      <div class="header_img header_brand_logo_two">
         <div class="chainaama">
            <img routerLink="/brands/chainaama" src="../../../assets/logos/chainaama.png" />
         </div>
         <div class="the_lassi_pub">
            <img routerLink="/brands/the_lassi_pub" src="../../../assets/logos/the_lassi_pub.png" />
         </div>
         <div class="sub_spot">
            <img routerLink="/brands/sub_spot" src="../../../assets/logos/sub_spot.png" />
         </div>
      </div>
   </div>
   <div class="home_brand_text">
      <div class="home_header_header">
         <h1 class="home_header_headertext"> OUR &nbsp; BRANDS</h1>
         <!-- <h1>BRANDS</h1> -->
      </div>
   </div>
</div>


<div class="home_brand_data pt-2">
   <div class="home_brand_data_textarea">
      <h1 class="home_brand_data_header_text">All our brands are pandemic proof</h1>
      <p class="home_brand_data_header_text_paragraph">
         All of our brands are delivery ready. During the pandemic our brands showed 400% growth on online delivery
         platforms like swiggy, zomato, amazon foods and more!
      </p>
      <p class="home_brand_data_header_text_paragraph">
         We have extensively worked on the online presence of all our brands thereby ensuring that even during any
         pandemic or disaster there won't be any difference to sales and profits.
      </p>
   </div>
   <div class="home_brand_data_image">
      <img style="width: 100%;" src="../../../assets/swiggy.png" />
   </div>
</div>

<div class="customer_like_part">
   <div class="like_part_one">
      <div class="modify_width excellent_service">
         <div class="excellent_service_icon">
            <img src="../../../assets/logos/excellent_service.png" />
         </div>
         <div class="excellent_service_text">
            <h2>Excellent Service</h2>
            <p> Providing to pquality food with excellent plating and packaging techniques have remained our primary USP
               from day 1. Our quality and timely serve keeps us ahead of our compititors.</p>
         </div>
      </div>
      <div class="modify_width excellent_service_header">
         <h1 class="header_text_excelent">WHY <br /> CUSTOMERS<br /> LIKE US</h1>
      </div>
   </div>
   <!-- <hr/> -->
   <div class="like_part_one">
      <div class="modify_width modified_recipes">
         <div class="excellent_service_icon">
            <img src="../../../assets/logos/modified_recipes.png" />
         </div>
         <div class="excellent_service_text">
            <h2>Modified Recipes</h2>
            <p> We keep changing our menu every now and then which doesn't make our customers lose value or interest in
               our brands. We have always something new to offer to our customers.</p>
         </div>
      </div>
      <div class="modify_width excellent_online">
         <div class="excellent_service_icon">
            <img src="../../../assets/logos/excellent_online_presence.png" />
         </div>
         <div class="excellent_service_text">
            <h2>Excellent Online Presence</h2>
            <p> Our brands have excellent online presence with offers for customers, customizable ordering pages and
               very high ratings across all platforms.</p>
         </div>
      </div>
   </div>
</div>

<div class="media_coverage mb-5 mt-4">
   <div class="media_coverage_header mt-4">
      <h1 class="media_coverage_header_font">Media Coverage</h1>
   </div>
   <div class="height_fix">
      <div id="carouselExampleControls" class="carousel slide mt-4 mb-5 carosol_one" data-bs-ride="carousel">
         <div class="carousel-inner">
            <div class="carousel-item active">
               <div class="item_group">
                  <div class="card" style="width: 18rem;">
                     <img src="../../../assets/logos/lbb.png" class="card-img-top" alt="...">
                  </div>
                  <div class="card" style="width: 18rem;">
                     <img src="../../../assets/logos/whatshot.png" class="card-img-top" alt="...">
                  </div>
                  <div class="card" style="width: 18rem;">
                     <img src="../../../assets/logos/indianExpress.png" class="card-img-top" alt="...">
                  </div>
               </div>
            </div>
            <div class="carousel-item">
               <div class="item_group">
                  <div class="card" style="width: 18rem;">
                     <img src="../../../assets/logos/bangaloreTimes.png" class="card-img-top" alt="...">
                  </div>
                  <div class="card" style="width: 18rem;">
                     <img src="../../../assets/logos/goindia.png" class="card-img-top" alt="...">
                  </div>
                  <div class="card" style="width: 18rem;">
                     <img src="../../../assets/logos/indulge.png" class="card-img-top" alt="...">
                  </div>
               </div>
            </div>
            <div class="carousel-item">
               <div class="item_group">
                  <div class="card" style="width: 18rem;">
                     <img src="../../../assets/logos/thetelegram.png" class="card-img-top" alt="...">
                  </div>
                  <div class="card" style="width: 18rem;">
                     <img src="../../../assets/logos/ndtv.png" class="card-img-top" alt="...">
                  </div>
                  <div class="card" style="width: 18rem;">
                     <img src="../../../assets/logos/bangaloreTimes.png" class="card-img-top" alt="...">
                  </div>
               </div>
            </div>
         </div>
         <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
         </button>
         <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
         </button>
      </div>
      <div id="carouselExampleControls_two" class="carousel slide mt-4 mb-5 carosol_two" data-bs-ride="carousel">
         <div class="carousel-inner">
            <div class="carousel-item active">
               <div class="item_group">
                  <div class="card" style="width: 18rem;">
                     <img src="../../../assets/logos/goindia.png" class="card-img-top" alt="...">
                  </div>
               </div>
            </div>
            <div class="carousel-item">
               <div class="item_group">
                  <div class="card" style="width: 18rem;">
                     <img src="../../../assets/logos/bangaloreTimes.png" class="card-img-top top_one" alt="...">
                  </div>
               </div>
            </div>

            <div class="carousel-item">
               <div class="item_group">
                  <div class="card" style="width: 18rem;">
                     <img src="../../../assets/logos/lbb.png" class="card-img-top top_two" alt="...">
                  </div>
               </div>
            </div>

            <div class="carousel-item">
               <div class="item_group">
                  <div class="card" style="width: 18rem;">
                     <img src="../../../assets/logos/whatshot.png" class="card-img-top top_three" alt="...">
                  </div>
               </div>
            </div>

            <div class="carousel-item">
               <div class="item_group">
                  <div class="card" style="width: 18rem;">
                     <img src="../../../assets/logos/indulge.png" class="card-img-top top_four" alt="...">
                  </div>
               </div>
            </div>
            <div class="carousel-item">
               <div class="item_group">
                  <div class="card" style="width: 18rem;">
                     <img src="../../../assets/logos/thetelegram.png" class="card-img-top pt-5" alt="...">
                  </div>
               </div>
            </div>
            <div class="carousel-item">
               <div class="item_group">
                  <div class="card" style="width: 18rem;">
                     <img src="../../../assets/logos/indianExpress.png" class="card-img-top" alt="...">
                  </div>
               </div>
            </div>
            <div class="carousel-item">
               <div class="item_group">
                  <div class="card" style="width: 18rem;">
                     <img src="../../../assets/logos/ndtv.png" class="card-img-top" alt="...">
                  </div>
               </div>
            </div>
         </div>
         <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls_two"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
         </button>
         <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls_two"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
         </button>
      </div>
   </div>
</div>

<app-footer></app-footer>