<app-navbar></app-navbar>


<div class="home_background_image">

   <div class="home_page_image">
      <img class="home_page_img" src="../../../assets/image-removebg-preview.png" />
   </div>
   <div class="home_page_box">
      <div class="home_page_text">
         <h1 class="header_text">
            BOGMALO <br/>
             FOODS AND <br/>
             HOSPITALITY
         </h1>
         <h5 class="header_tag">C O M P A N Y  &nbsp; P R O F I L E</h5>
         <hr style="padding: 0.5px; align-self:center; color: white; margin-top: 10px;"/>
      </div>
   </div>
</div>