<app-navbar></app-navbar>
<div class="partner">
    <div class="partner_text_side">
        <h1 class="header_text">{{this.data['HEADER']}}</h1>
        <p class="body_text_partner">
            {{this.data['PARAGRAPH_ONE']}}
        </p>
        <p class="body_text_partner">
            {{this.data['PARAGRAPH_TWO']}}
        </p>
        <p class="body_text_partner">
            {{this.data['PARAGRAPH_THREE']}}
        </p>
        <p class="body_text_partner">
            {{this.data['PARAGRAPH_FOUR']}}
        </p>
        <hr class="p-2" />
    </div>
    <div class="partner_image_side">
        <div class="image_column image_first_column">
            <div class="first_column_image_one" [style.background-image]="'url(/img/' + this.data['IMAGE_ONE'] + ')'">
                <div class="card">
                </div>
            </div>
            <div class="first_column_image_two" [style.background-image]="'url(/img/' + this.data['IMAGE_TWO'] + ')'">
                <div class="card">
                </div>
            </div>
        </div>
        <div class="image_column image_secoend_column">
            <div class="secoend_column_image_one" [style.background-image]="'url(/img/' + this.data['IMAGE_THREE'] + ')'">
            </div>
            <div class="secoend_column_image_two" [style.background-image]="'url(/img/' + this.data['IMAGE_FOUR'] + ')'">
            </div>
        </div>
    </div>
</div>
<div class="menu_item">
    <!-- <h2 class="header_text" style="margin-bottom: 20px;"><b>OUR MENU</b></h2> -->
    <div class="menu_one">
        <img class="image_menu" [src]="this.data['MENU_IMAGE']" />
    </div>
</div>