<div class="partner">
    <div class="partner_text_side">
        <h1 class="header_text">Uncle Peter's Pancakes</h1>
        <p class="body_text_partner">
            Pancakes have always been associated with happin ess.
            Whether you are happy or sad or ju st hu n gr y, pancakes
            wil l be your best friend. So righ tly it is often describ ed as "The sin gl e most in fluetial food of all
            tim e". And that is
            what gave bir th to Un cle Peter's Pancakes.
        </p>
        <p class="body_text_partner">
            A dedi cated brand wil lin g to brin g pancakes to every Indian home. With the gr owin g trend of pancake
            consum ption in In di a and the less amoun t of options
            avail able in the market, we have set out on a misson to be In di a' s Nu m ber 1 choice for a pancake
            brand.
        </p>
        <p class="body_text_partner">
            Un cle Peter's Pancakes has put in a lot of hard work in
            developin g a menu whi ch not onl y has varities but dr ives forward thr ough in n ovation. We are proud to
            have got in certain varities that are nowhere avail able in In di a.
        </p>
        <p class="body_text_partner">
            Wait no more! Experience us today!
        </p>
        <hr class="p-2"/>
    </div>
    <div class="partner_image_side">
        <div class="image_column image_first_column">
            <div class="first_column_image_one">
                <div class="card">
                    <!-- <img src="../../../assets/partner_1.png" class="card-img-top" alt="..."> -->
                  </div>
                <!-- <img src="../../../assets/partner_1.png" width="500" /> -->
            </div>
            <div class="first_column_image_two">
                <div class="card">
                    <!-- <img src="../../../assets/partner_2.png" class="card-img-top" alt="..."> -->
                  </div>
                <!-- <img src="../../../assets/partner_2.png" width="500"/> -->
            </div>
        </div>
        <div class="image_column image_secoend_column">
            <div class="secoend_column_image_one">
                <!-- <img src="../../../assets/partner_1.png" width="500"/> -->
            </div>
            <div class="secoend_column_image_two">
                <!-- <img src="../../../assets/partner_2.png" width="500"/> -->
            </div>
        </div>
    </div>
</div>