<app-navbar></app-navbar>

<div class="home_background_image">
    <div class="home_page_image">
       <img *ngIf="this.data['key'] == 0" class="home_page_img" src="../../../assets/homePage/{{this.data['BANNER_IMAGE']}}" />
       <img *ngIf="this.data['key'] == 1" class="key_one"  src="../../../assets/homePage/{{this.data['BANNER_IMAGE']}}" />
       <img *ngIf="this.data['key'] == 2" class="key_two" src="../../../assets/homePage/{{this.data['BANNER_IMAGE']}}" />
       <img *ngIf="this.data['key'] == 3" class="home_page_img" src="../../../assets/homePage/{{this.data['BANNER_IMAGE']}}" />
       <img *ngIf="this.data['key'] == 4" class="key_four" src="../../../assets/homePage/{{this.data['BANNER_IMAGE']}}" />
       <img *ngIf="this.data['key'] == 5" class="home_page_img" src="../../../assets/homePage/{{this.data['BANNER_IMAGE']}}" />
    </div>
    <div class="home_page_box">
       <div class="home_page_text">
          <h2 class="header_textx">
             {{this.data['HEADER']}}
          </h2>
          <h3 class="header_text_tagline" style="color: white; font-weight: 100;letter-spacing: 9px; line-height: 2;">
            {{this.data['BANNER_TAGLINE']}}
         </h3>
       </div>
    </div>
 </div>

 
<div class="partner">
    <div class="partner_text_side">
        <h1 class="header_text">{{this.data['HEADER']}}</h1>
        <p class="body_text_partner">
            {{this.data['PARAGRAPH_ONE']}}
        </p>
        <p class="body_text_partner">
            {{this.data['PARAGRAPH_TWO']}}
        </p>
        <p class="body_text_partner">
            {{this.data['PARAGRAPH_THREE']}}
        </p>
        <p class="body_text_partner">
            {{this.data['PARAGRAPH_FOUR']}}
        </p>
        <div>
          <app-view-website-button></app-view-website-button>
        </div>
    </div>
    <div class="partner_image_side">
        <div class="image_column image_first_column">
            <div class="first_column_image_one" [style.background-image]="'url(/img/' + this.data['IMAGE_ONE'] + ')'">
                <div class="card">
                </div>
            </div>
            <div class="first_column_image_two" [style.background-image]="'url(/img/' + this.data['IMAGE_TWO'] + ')'">
                <div class="card">
                </div>
            </div>
        </div>
        <div class="image_column image_secoend_column">
            <div class="secoend_column_image_one" [style.background-image]="'url(/img/' + this.data['IMAGE_THREE'] + ')'">
            </div>
            <div class="secoend_column_image_two" [style.background-image]="'url(/img/' + this.data['IMAGE_FOUR'] + ')'">
            </div>
        </div>
    </div>
</div>
<div class="menu_item">
    <!-- <h2 class="header_text" style="margin-bottom: 20px;"><b>OUR MENU</b></h2> -->
    <div class="menu_one">
        <img class="image_menu" [src]="this.data['MENU_IMAGE']" />
    </div>
</div>

<app-footer></app-footer>