.main_div {
  // font-family: "Rubik", sans-serif;
}

.parent {
  width: 100%;
  height: 82vh;
  background-image: url(../../../assets/about_us_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.about_text_div {
  width: 60%;
  height: 75%;
  border: 1px solid #604ca4;
  border-radius: 30px 0px 0px 30px;
  padding-left: 18%;
  padding-top: 20px;
  padding-right: 25px;
  padding-bottom: 10px;

  @media only screen and (max-width: 650px) {
    width: 98%;
    padding-left: 30px;
    text-align: center;
  }


}

.background {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.about_us_box {
  background-color: #604ca4;
}

.landing_image {
  position: absolute;
  margin-left: calc(50% - 330px);
  left: 0;

  @media only screen and (max-width: 1325px) {
    margin-left: calc(50% - 350px);
  }

  @media only screen and (max-width: 1070px) {
    font-size: 18px;
  }

  @media only screen and (max-width: 650px) {
    display: none;
    // margin-left: 20px
  }
}

.header {
  font-family: "Rubik", sans-serif;
  font-size: 3vw;
  font-weight: 900;
  min-width: 15px;
  text-shadow: 3px 4px #546572;
  margin-bottom: 15px;
  // @media only screen and (max-width: 650px) {
  //   font-size: 30px;
  // }
  @media only screen and (max-width: 1000px) {
    font-size: 30px;
  }
}

.header_body {
  font-size: 2vh;
  // line-height: 35px;
  color: white;
  margin-bottom: 30px;
  font-weight: 400;

  @media only screen and (max-width: 1360px) and (min-width: 1150px) {
    font-size: 1.5vw;
    // line-height: 30px;
  }

  @media only screen and (max-width: 1150px) and (min-width: 931px) {
    font-size: 2vh;
  }

  @media only screen and (max-width: 930px) and (min-width: 840px) {
    font-size: 1.9vh;
  }

  @media only screen and (max-width: 841px) and (min-width: 650px) {
    font-size: 1.7vh;
  }
  // @media only screen and (max-width: 350px) {
  //   font-size: 1.8vh;
  //   margin-bottom: 15px;
  //   line-height: 20px;
  // }
}

.core_values_header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.core_values_header_name {
  font-size: 55px;
  font-weight: 600;
  color: #604ca4;
  text-shadow: 3px 3px 4px #968c8c;
  @media only screen and (max-width: 1360px) and (min-width: 651px) {
    font-size: 4vw;
    // line-height: 30px;
  }
  @media only screen and (max-width: 650px) {
    font-size: 30px;
    margin-bottom: 15px;
  }
}

.core_values_tag_line {
  font-size: 50px;
  padding: 2px;
  text-decoration: underline;
  text-underline-offset: 2px;
  color: #604ca4;
  text-shadow: 3px 3px 4px #968c8c;
  @media only screen and (max-width: 1360px) and (min-width: 651px) {
    font-size: 4vw;
    // line-height: 30px;
  }
  @media only screen and (max-width: 650px) {
    font-size: 15px;
    margin-bottom: 15px;
  }
}

.core_values_body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 30px 0px 30px;

  @media only screen and (max-width: 700px) {
    flex-direction: column;
  }
}

.core_values_width {
  width: 33%;

  @media only screen and (max-width: 700px) {
    width: 90%;
  }
}

.core_value_body_common {
  display: flex;
  align-items: center;

  @media only screen and (max-width: 700px) {
    align-items: flex-start;
  }
}

.core_values_body_number {
  padding-right: 25px;
}

.core_values_body_number h1 {
  font-size: 2.5vw;
  color: #604ca4;
  font-weight: bold;

  @media only screen and (max-width: 700px) {
    font-size: 8vw;
  }
}

.core_values_body_text h3 {
  font-size: 30px;
  font-weight: 700;
  color: #595a5c;
  @media only screen and (max-width: 1360px) and (min-width: 701px) {
    font-size: 2vw;
    // line-height: 30px;
  }
  @media only screen and (max-width: 700px) {
    font-size: 6vw;
  }

}

.core_values_body_text,
p {
  font-size: 25px;
  color: #6e6a66;
  @media only screen and (max-width: 1360px) and (min-width: 701px) {
    font-size: 1.5vw;
    // line-height: 30px;
  }
  @media only screen and (max-width: 700px) {
    font-size: 4vw;
  }
}

.core_values_body_two {
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: 700px) {
    display: none;
  }
}

.founder_header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3e2e76;
}

.core_values_images {
  width: 22vw;
}

.core_value_body_01 {
  @media only screen and (max-width: 700px) {
    padding-top: 10px !important;
  }
}

.founder_details{
  width: 40%;
  box-shadow: 1px 1px 6px 0px;

  @media only screen and (max-width: 992px) {
    width: 45%;
  }
  @media only screen and (max-width: 700px) {
    width: 80%;
  }
}
.founder_details_section {
  display: flex;
  justify-content: space-between;

  @media only screen and (max-width: 700px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.founder_details_text{
  text-align: center;
}
.founder_card{
  height: 100%;
  border-radius: 0px;
}