<app-navbar></app-navbar>

<div class="main_div">
    <div class="parent pt-5">
        <div class="background">
            <div class="landing_image">
                <img src="../../../assets/image-removebg-preview.png" />
            </div>
            <div class="about_text_div about_us_box">
                <h1 class="text-white header">About Us</h1>
                <p class="header_body">
                    Bogmalo foods and hospitality had its inception in the year 2017 with two brands and two outlets in
                    Goa
                    and Bangalore. In just 4 years it has expanded into 6 brands and 13 outlets across Bangalore, Goa,
                    Delhi, Pondicherry, Kolkata, Lucknow and Indore with many more coming up the next few months.
                </p>

                <p class="header_body">
                    Bogmalo foods and hospitality is a company backed by a very strong team of engineer turned food
                    entrepreneurs who thrive for excellence, quality and innovation!
                </p>
                <p class="header_body">
                    Be a part of our team and experience greatness!
                </p>
            </div>
        </div>
    </div>
    <div class="core_values_top pt-5">
        <div class="core_values_header">
            <h1 class="core_values_header_name">Core Values</h1>
            <p class="core_values_tag_line">We thrive to be the best, nothing short of it</p>
        </div>
    </div>
    <div class="core_values_body">
        <div class="core_values_width core_values_body_one">
            <div class="core_value_body_common core_value_body_01">
                <div class="core_values_body_number">
                    <h1>01</h1>
                </div>
                <div class="core_values_body_text">
                    <h3>Engineers behind the wheels</h3>
                    <p>Founders are engineers who have tremendous experience in the food industry</p>
                </div>
            </div>
            <div class="core_value_body_common core_value_body_01 pt-5">
                <div class="core_values_body_number">
                    <h1>02</h1>
                </div>
                <div class="core_values_body_text">
                    <h3>Operationally Profitable</h3>
                    <p>All of our outlets are operationally profitable with zero store shutdowns even during the
                        pandemic</p>
                </div>
            </div>
        </div>
        <div class="core_values_width core_values_body_two">
            <div>
                <img src="../../../assets/core_values.png" class="core_values_images" />
            </div>
        </div>
        <div class="core_values_width core_values_body_three">
            <div class="core_value_body_common core_value_body_01">
                <div class="core_values_body_number">
                    <h1>03</h1>
                </div>
                <div class="core_values_body_text">
                    <h3>Equal focus on online and offline sales</h3>
                    <p>Equal importance to both dine in and delivery platform sales ensuring max business</p>
                </div>
            </div>
            <div class="core_value_body_common core_value_body_01 pt-5">
                <div class="core_values_body_number">
                    <h1>04</h1>
                </div>
                <div class="core_values_body_text">
                    <h3>Consistent Feedbacks</h3>
                    <p>All of our outlets across all locations are highly rated by customers both on dine in and online
                        delivery platforms</p>
                </div>
            </div>
        </div>
    </div>

    <div class="founders_section mt-2">
        <div class="founder_header">
            <h1 class="p-4 text-white">About our founders</h1>
        </div>

        <div style="background-color: #a68ef80f;">
            <div class="founder_details_section container pb-5">
                <div class="founder_details founder_details_one mt-5">
                    <div class="card founder_card" style="">
                        <img src="../../../assets/1.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text founder_details_text">A sweet tooth by nature, Akashdeep was looking to
                                start his own brand soon
                                after completing his masters in biotechnology. Born with a knack of experimenting,
                                Akashdeep
                                adds his value in making Uncle Peter’s Pancakes a unique and innovative brand!</p>
                        </div>
                    </div>
                </div>
                <div class="founder_details founder_details_two mt-5">
                    <div class="card founder_card" style="">
                        <img src="../../../assets/2.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text founder_details_text">A foodie by birth, an engineer by profession!
                                Sundeep pursued his passion
                                for food soon after completing his graduation from BITS Pilani. Sundeep holds multiple
                                years
                                of experience and expertise with the food industry and acts as the backbone to Uncle
                                Peter’s
                                Pancakes!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="core_values_timeline pt-5 pb-5">
        <div class="founder_header" style="width: 100%;">
            <h1 class="p-4 text-white">Timeline</h1>
        </div>
        <div class="core_values_body_timeline">
            <ngx-timeline [itens]="data" [theme]="'vertical'"
            [showMenu]="false" 
           >
            </ngx-timeline>
        </div>
    </div>
</div>
<app-footer></app-footer>