.parent {
  width: 100%;
  height: 100vh;
  background-image: url(../../../assets/about_us_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.about_text_div {
  width: 60%;
  height: 75%;
  border: 1px solid #604ca4;
  border-radius: 30px 0px 0px 30px;
  padding-left: 18%;
  padding-top: 20px;
  padding-right: 25px;
  padding-bottom: 10px;

  @media only screen and (max-width: 650px) {
    width: 98%;
    padding-left: 30px;
    text-align: center;
  }


}

.background {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.about_us_box {
  background-color: #604ca4;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
}
.about_us_box_about {
  background-color: #604ca4;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing_image {
  position: absolute;
  margin-left: calc(50% - 330px);
  left: 0;

  @media only screen and (max-width: 1325px) {
    margin-left: calc(50% - 350px);
  }

  @media only screen and (max-width: 1070px) {
    //font-size: 18px;
  }

  @media only screen and (max-width: 650px) {
    display: none;
    // margin-left: 20px
  }
}

.header {
  //font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: 900;
  min-width: 15px;
  text-shadow: 3px 4px #546572;
  margin-bottom: 15px;

  // @media only screen and (max-width: 650px) {
  //   //font-size: 30px;
  // }
  // @media only screen and (max-width: 1049px) {
  //   font-size: 30px;
  // }
  
}

.header_body {
  font-size: 23px;
  //font-family: 'Raleway', sans-serif;
  color: white;
  margin-bottom: 30px;
  font-weight: 500;
  @media only screen and (max-width: 1440px) and (min-width: 1000px) {
    font-size: 2vw ;
    // font-weight: 700;
    line-height: 1.3;
}
@media only screen and (max-width: 1000px) and (min-width: 760px) {
  font-size: 2.2vw ;
  // font-weight: 700;
  line-height: 1.3;
}
@media only screen and (max-width: 760px) and (min-width: 650px) {
  font-size: 2.5vw ;
  // font-weight: 700;
  line-height: 1.3;
}

@media only screen and (max-width: 650px) and (min-width: 420px) {
  font-size: 4vw ;
}
@media only screen and (max-width: 420px) and (min-width: 380px) {
  font-size: 4.2vw ;
}
@media only screen and (max-width: 420px) {
    font-size: 4vw;
}
 
  // @media only screen and (max-width: 1049px) {
  //   font-size: 16px;
  // }
}

.core_values_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3e2e76;
}
.core_values_top{
  // background-color: #3e2e76;
  padding: 30px;
}
.core_values_header_name {
  // //font-size: 55px;
  font-weight: 600;
  color: #ffffff;
  //font-family: 'Raleway', sans-serif;
  // text-shadow: 3px 3px 4px #968c8c;

  @media only screen and (max-width: 1360px) and (min-width: 651px) {
    //font-size: 4vw;
    // line-height: 30px;
  }

  @media only screen and (max-width: 650px) {
    //font-size: 30px;
    margin-bottom: 15px;
  }
}

.core_values_tag_line {
  // //font-size: 50px;
  padding: 2px;
  text-decoration: underline;
  text-underline-offset: 2px;
  color: #604ca4;
  // text-shadow: 3px 3px 4px #968c8c;
  //font-family: 'Raleway', sans-serif;

  @media only screen and (max-width: 1360px) and (min-width: 651px) {
    //font-size: 4vw;
    // line-height: 30px;
  }

  @media only screen and (max-width: 650px) {
    //font-size: 15px;
    margin-bottom: 15px;
  }
}

.core_values_body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 30px 0px 30px;

  @media only screen and (max-width: 700px) {
    flex-direction: column;
  }
}

.core_values_width {
  width: 33%;

  @media only screen and (max-width: 700px) {
    width: 90%;
  }
}

.core_value_body_common {
  display: flex;
  align-items: center;

  @media only screen and (max-width: 700px) {
    align-items: flex-start;
  }
}

.core_values_body_number {
  padding-right: 25px;
}

.core_values_body_number h2 {
  // //font-size: 2.5vw;
  color: #604ca4;
  font-weight: bold;
  
  @media only screen and (max-width: 700px) {
    //font-size: 8vw;
  }
}

.core_values_body_text h4 {
  // //font-size: 30px;
  font-weight: 700;
  color: #595a5c;


}

.core_values_body_text,
h5 {
  font-weight: 100 !important;
  color: #6e6a66;
  //font-family: 'Raleway', sans-serif;

}

.core_values_body_two {
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: 700px) {
    display: none;
  }
}

.founder_header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3e2e76;
  margin: 30px;
}

.core_values_images {
  width: 22vw;
}

.core_value_body_01 {
  @media only screen and (max-width: 700px) {
    padding-top: 10px !important;
  }
}

.founder_details {
  width: 40%;
  box-shadow: 1px 1px 6px 0px;

  @media only screen and (max-width: 992px) {
    width: 45%;
  }

  @media only screen and (max-width: 700px) {
    width: 80%;
  }
}

.founder_details_section {
  display: flex;
  justify-content: space-between;

  @media only screen and (max-width: 700px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.founder_details_text {
  text-align: center;
  color: #999a9b;
  font-weight: 100;
}

.founder_card {
  height: 100%;
  border-radius: 0px;
}

:host ::ng-deep #timeline-albe.vertical section .item .badge {
  display: flex !important;
  z-index: 500;
}

:host ::ng-deep #timeline-albe.vertical section .item .badge span {
  display: none
}

:host ::ng-deep #timeline-albe.vertical section .item article:after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  top: 39px;
  right: -94px;
  border-color: transparent #fbfbfd transparent #ea705b;
  border-style: solid;
  border-width: 0px 1px 0px 92px;

  @media screen and (max-width: 1074px) {
    right: -64px;
    border-width: 0px 1px 0px 63px;
  }

  @media screen and (max-width: 768px) {
    right: 0px;
    left: -23px;
    border-width: 0px 1px 0px 23px;
  }
}

:host ::ng-deep #timeline-albe.vertical section .item article {
  width: 40%;
  text-align: left;

  @media screen and (max-width: 768px) {
    width: 70%;
  }
}

:host ::ng-deep #timeline-albe.vertical section .item article.inverted:after {
  left: -94px;
  height: 3px;
  border-width: 0px 0px 0px 92px;
  border-color: transparent #fbfbfd transparent #1f69e6;

  @media screen and (max-width: 1074px) {
    left: -64px;
    border-width: 0px 1px 0px 63px;
  }

  @media screen and (max-width: 768px) {
    right: 0px;
    left: -23px;
    border-width: 0px 1px 0px 23px;
  }


}

:host ::ng-deep #timeline-albe.vertical section .item article.inverted {
  @media screen and (max-width: 768px) {
    float: left
  }
}

:host ::ng-deep #timeline-albe.vertical section .item .badge.last {
  display: none !important;
}

:host ::ng-deep h5,
.h5 {
  font-weight: 900;
  // //font-size: 15px;

}

:host ::ng-deep #timeline-albe.vertical section .item article .body {
  padding: 20px 20px;
}

:host ::ng-deep #timeline-albe.vertical section .item article .body span {
  display: none;
}


:host ::ng-deep #timeline-albe.vertical section header[class*=group] {
  background: #604ca4;
}

:host ::ng-deep #timeline-albe.vertical section .item article .body h5 {
  color: #604ca4;
  //font-size: 20px;
}

:host ::ng-deep #timeline-albe.vertical section .item .inverted .body h5 {
  color: #604ca4;
  //font-size: 20px;
}

:host ::ng-deep .atag-styleRemove {
  color: #604ca4 !important;
}

:host ::ng-deep .atag-styleRemove_two {
  color: #604ca4 !important;
}

.core_values_body_timeline {
  @media only screen and (max-width: 1400px) and (min-width: 650px) {
    width: 80%;
  }
}

.core_values_timeline {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 30px 30px 0px 30px;

  @media only screen and (max-width: 700px) {
    flex-direction: column;
  }
}
.carosol_image{
  display: flex;
    justify-content: center;
}
.carosol_one{
  width: 90%;
}

.carousel-control-prev-icon{
  display: none;
}
.carousel-control-next-icon{
  display: none;
}
.fa-arrow-right{
  display: block;
}
.fa-arrow-left{
  display: block;
}
@media screen and (max-width: 780px) {
.carousel-control-prev-icon{
  display: block;
}
.carousel-control-next-icon{
  display: block;
}

.fa-arrow-right{
  display: none;
}
.fa-arrow-left{
  display: none;
}
}