<app-navbar></app-navbar>

<div class="main_div">
    <div class="parent pt-5">
        <div class="background">
            <div class="landing_image">
                <img src="../../../assets/image-removebg-preview.png" />
            </div>
            <div class="about_text_div about_us_box_about">
                <h2 class="text-white header">About Us</h2>
                <p class="header_body" >
                    Bogmalo foods and hospitality had its inception in the year 2017 with two brands and two outlets in
                    Goa
                    and Bangalore. In just 4 years it has expanded into 6 brands and 13 outlets across Bangalore, Goa,
                    Delhi, Pondicherry, Kolkata, Lucknow and Indore with many more coming up the next few months.
                </p>

                <p class="header_body">
                    Bogmalo foods and hospitality is a company backed by a very strong team of engineer turned food
                    entrepreneurs who thrive for excellence, quality and innovation!
                </p>
                <p class="header_body">
                    Be a part of our team and experience greatness!
                </p>
            </div>
        </div>
    </div>
    <div class="core_values_top">
        <div class="core_values_header">
            <h2 class="core_values_header_name p-3">Core Values</h2>
            <!-- <p class="core_values_tag_line">We thrive to be the best, nothing short of it</p> -->
        </div>
    </div>
    <div class="core_values_body">
        <div class="core_values_width core_values_body_one">
            <div class="core_value_body_common core_value_body_01">
                <div class="core_values_body_number">
                    <h1>01</h1>
                </div>
                <div class="core_values_body_text">
                    <h4>Engineers behind the wheels</h4>
                    <h5>Founders are engineers who have tremendous experience in the food industry</h5>
                </div>
            </div>
            <div class="core_value_body_common core_value_body_01 pt-5">
                <div class="core_values_body_number">
                    <h1>02</h1>
                </div>
                <div class="core_values_body_text">
                    <h4>Operationally Profitable</h4>
                    <h5>All of our outlets are operationally profitable with zero store shutdowns even during the
                        pandemic</h5>
                </div>
            </div>
        </div>
        <div class="core_values_width core_values_body_two">
            <div>
                <img src="../../../assets/core_values.png" class="core_values_images" />
            </div>
        </div>
        <div class="core_values_width core_values_body_three">
            <div class="core_value_body_common core_value_body_01">
                <div class="core_values_body_number">
                    <h1>03</h1>
                </div>
                <div class="core_values_body_text">
                    <h4>Equal focus on online and offline sales</h4>
                    <h5>Equal importance to both dine in and delivery platform sales ensuring max business</h5>
                </div>
            </div>
            <div class="core_value_body_common core_value_body_01 pt-5">
                <div class="core_values_body_number">
                    <h1>04</h1>
                </div>
                <div class="core_values_body_text">
                    <h4>Consistent Feedbacks</h4>
                    <h5>All of our outlets across all locations are highly rated by customers both on dine in and online
                        delivery platforms</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="founders_section mt-2">
        <div class="founder_header">
            <h2 class="p-4 text-white ">About Our Founders</h2>
        </div>
        <div class="carosol_image">
            <div class="carosol_one">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="../../../assets/data/founder_2.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../../../assets/data/founder_1.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <!-- <i class="fa fa-arrow-left" style="color: black; font-size:40px" aria-hidden="true"></i> -->
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                </button>
                <button #hello class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <!-- <i class="fa fa-arrow-right" style="color: black; font-size:40px" aria-hidden="true"></i> -->
                    <span class="visually-hidden">Next</span>
                </button>
                </div>
            </div>
        </div>
    </div>
    <div class="core_values_timeline pt-5 pb-5">
        <div class="founder_header" style="width: 100%;">
            <h2 class="p-4 text-white">Timeline</h2>
        </div>
        <div class="core_values_body_timeline">
            <ngx-timeline [itens]="data" [theme]="'vertical'" [sortDesc]="false" [showMenu]="false">
            </ngx-timeline>
        </div>
    </div>
</div>
<app-footer></app-footer>