<app-navbar></app-navbar>

<div style="padding-top: 80px;">
    <div class="carosol_image">
        <div class="carosol_one">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../../../assets/data/19.jpg" class="d-block" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../../../assets/data/20.jpg" class="d-block" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../../../assets/data/21.jpg" class="d-block" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../../../assets/data/22.jpg" class="d-block" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../../../assets/data/23.jpg" class="d-block" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../../../assets/data/24.jpg" class="d-block" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../../../assets/data/25.jpg" class="d-block" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../../../assets/data/26.jpg" class="d-block" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../../../assets/data/27.jpg" class="d-block" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../../../assets/data/28.jpg" class="d-block" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <i class="fa fa-arrow-left" style="color: black; font-size:40px" aria-hidden="true"></i>
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                </button>
                <button #hello class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <i class="fa fa-arrow-right" style="color: black; font-size:40px" aria-hidden="true"></i>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>


    <div class="top_diiv">
        <div class="layer">
            <div class="partner partner_top_box mt-5">
                <div class="partner_header_one">
                    <div class="partner_header">
                        <h2 class="header_text text-white">What we offer to our partners!</h2>
                    </div>
                    <div class="partner_paragraph">
                        <h5 class="paragrapgh_text text-white">Support is the biggest pillar of our success till now! We
                            have
                            been able to successfully develop a very
                            prompt support system that helps our partners solve complex problems very easily. We believe
                            that we can
                            only grow when our partners are growing equally. Each and every outlet is looked after by
                            our
                            core team
                            which ensures our partners not going into trouble at any point of time.
                        </h5>
                    </div>
                </div>
                <div class="partner_header_img">
                    <img class="parterner_header_image" src="../../../assets/partner_roti.png" />
                </div>
            </div>
        </div>
    </div>

    <div class="partner_individual_point">
        <div class="card">
            <div class="card-body">
                <div class="partener_text_header">
                    <h4 class="header_text_partner header_text_card">01 Setup</h4>
                </div>
                <div class="partener_text_body">
                    <h5 class="partner_body_text">
                        Full shop and kitchen location and setup and staff assistance
                    </h5>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="partener_text_header">
                    <h4 class="header_text_partner header_text_card">02 Social Media</h4>
                </div>
                <div class="partener_text_body">
                    <h5 class="partner_body_text">
                        Full shop and kitchen location and setup and staff assistance
                    </h5>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="partener_text_header">
                    <h4 class="header_text_partner header_text_card">03 Licensing</h4>
                </div>
                <div class="partener_text_body">
                    <h5 class="partner_body_text">
                        Licensing support along with Swiggy and Zamato Integration
                    </h5>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="partener_text_header">
                    <h4 class="header_text_partner header_text_card">04 Raw Material</h4>
                </div>
                <div class="partener_text_body">
                    <h5 class="partner_body_text">
                        A-Z Raw Material support
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <div class="secoend_partner_details">
        <div class="layer_two layer_two_re" style="">
            <div class="partner partner_top_box_two">
                <div class="partner_header_img">
                    <!-- <img class="parterner_header_image_two" src="../../../assets/partner_roti_1.png" /> -->
                </div>
                <div class="partner_header_one">

                    <div class="partner_paragraph" style="text-align: end;">
                        <h5 class="paragrapgh_text text-white">Food business which looks extremely lucrative and
                            profitable
                            from the outer world is an extremely challenging form of business too and any wrong step
                            causes
                            a considerable amount of loss. We ensure through our daily interaction that our partners
                            avoid
                            those mistakes and run a profitable business without any hiccups!
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="partner_individual_point mt-0">
        <div class="card">
            <div class="card-body">
                <div class="partener_text_header">
                    <h4 class="header_text_partner header_text_card">05 Training</h4>
                </div>
                <div class="partener_text_body">
                    <h5 class="partner_body_text">
                        Staff sourcing, hiring and training support
                    </h5>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="partener_text_header">
                    <h4 class="header_text_partner header_text_card">06 Growth</h4>
                </div>
                <div class="partener_text_body">
                    <h5 class="partner_body_text">
                        Data analysis and growth support
                    </h5>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="partener_text_header">
                    <h4 class="header_text_partner header_text_card">07 Operation Support</h4>
                </div>
                <div class="partener_text_body">
                    <h5 class="partner_body_text">
                        24*7 support on operations
                    </h5>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="partener_text_header">
                    <h4 class="header_text_partner header_text_card">08 Market Study</h4>
                </div>
                <div class="partener_text_body">
                    <h5 class="partner_body_text">
                        Current Market trends and competition analysis
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid models_div">
        <div class="models_text">
            <h2 class="header_text_partner header_text">Different Models Offered</h2>
        </div>
        <div class="models_image">
            <img src="../../../assets/model_one.png" style="" />
        </div>
    </div>

    <div class="container-fluid models_div">
        <div class="container">

            <div class="row">
                <h2 style="text-align:center">We'd love to hear from you!</h2>
            </div>
            <form name="form" [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="row input-container">

                    <div class="col-xs-12">
                        <div class="styled-input wide">
                            <input type="text" formControlName="name"
                            class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" />
                            <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                                <div *ngIf="f['name'].errors['required']">Fullname is required</div>
                              </div>
                            <label>Name</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="styled-input">
                            <input type="email" formControlName="email"
                            class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
                          />
                          <div *ngIf="submitted && f['email'].errors " class="invalid-feedback">
                            <div *ngIf="f['email'].errors['required']">Email is required</div>
                            <div *ngIf="f['email'].errors['email']">Email is invalid</div>
                            <!-- <div *ngIf="f['email'].errors['pattern']">Email is invalid!</div> -->
                          </div>
                            <label>Email</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="styled-input" style="float:right;">
                            <input type="number" formControlName="phonenumber"
                            class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f['phonenumber'].errors }"
                          />
                          <div *ngIf="submitted && f['phonenumber'].errors " class="invalid-feedback">
                            <div *ngIf="f['phonenumber'].errors['required']">Number is required</div>
                          </div>
                            <label>Phone Number</label>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="styled-input wide">
                            <textarea name="message" formControlName="message"
                            class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f['message'].errors }"></textarea>
                          <div *ngIf="submitted && f['message'].errors " class="invalid-feedback">
                            <div *ngIf="f['message'].errors['required']">Message is required</div>
                          </div>
                            <label>Message</label>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <button class="btn-lrg submit-btn" type="submit">Submit</button>
                    </div>


                </div>
            </form>
        </div>

    </div>
</div>


<div class="position-fixed top-0 end-0 p-3" style="z-index: 5">
    <div class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive"
        aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                Hello, world! This is a toast message.
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                aria-label="Close"></button>
        </div>
    </div>
</div>

<app-footer></app-footer>
<!-- <div class="p-5"></div> -->