*{
    font-family: 'Patrick Hand', cursive;
}

.layer {
    background-image: url(../../../assets/background.jpg);
    border-radius: 0px 5% 5% 0px;
    @media only screen and (max-width: 1660px) and (min-width: 880px) {
        border-radius: 0px 25% 25% 0px;
    }
    @media only screen and (max-width: 880px) and (min-width: 650px) {
        border-radius: 0px 15% 15% 0px;
    }
    @media only screen and (max-width: 1032px) and (min-width: 650px) {
        width: 90%;
    }
    @media only screen and (max-width: 650px) {
        width: 100%;
    }
}

.partner_top_box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #604ca4e3;
    border-radius: 0px 5% 5% 0px;
    @media only screen and (max-width: 1660px) and (min-width: 880px) {
        border-radius: 0px 25% 25% 0px;
    }
    @media only screen and (max-width: 881px) and (min-width: 650px) {
        border-radius: 0px 15% 15% 0px;
    }
    @media only screen and (max-width: 1032px) and (min-width: 60px) {
        width: 100%;
    }
}

.layer_two {
    background-image: url(../../../assets/background.jpg);
    // border-radius: 25% 0% 0% 25%;
    
    @media only screen and (max-width: 2640px) and (min-width: 1255px) {
        border-radius: 10% 0% 0% 10%;
    }
    @media only screen and (max-width: 1255px) and (min-width: 125px) {
        border-radius: 20% 0% 0% 20%;
    }
}

.partner_top_box_two {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #604ca4e3;
    // border-radius: 25% 0% 0% 25%;
    @media only screen and (max-width: 2640px) and (min-width: 650px) {
        border-radius:  10% 0% 0% 10%;
    }
    @media only screen and (max-width: 1255px) and (min-width: 125px) {
        border-radius: 20% 0% 0% 20%;
    }
}

.parterner_header_image_two {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 877px;
    margin-left: 143px;
    width: 33vw;
    max-width: 450px;
    @media only screen and (max-width: 1557px) and (min-width: 1417px) {
        margin-top: 876px;
        margin-left: 50px;
        // margin-left: 67vw;
        width: 31vw;
    }
    @media only screen and (max-width: 1416px) and (min-width: 1400px) {
        margin-top: 900px;
        margin-left: 50px;
        // margin-left: 67vw;
        width: 31vw;
    }
    @media only screen and (max-width: 1399px) and (min-width: 1244px) {
        margin-top: 890px;
        margin-left: 50px;
        // margin-left: 67vw;
        width: 31vw;
    }
    @media only screen and (max-width: 1243px) and (min-width: 1200px) {
        margin-top: 900px;
        margin-left: 50px;
        // margin-left: 67vw;
        width: 31vw;
    }
    @media only screen and (max-width: 1199px) and (min-width: 1135px) {
        margin-top: 900px;
        margin-left: 50px;
        // margin-left: 67vw;
        width: 31vw;
    }
    @media only screen and (max-width: 1134px) and (min-width: 1100px) {
        margin-top: 875px;
        margin-left: 50px;
        // margin-left: 67vw;
        width: 31vw;
    }

    @media only screen and (max-width: 1100px) and (min-width: 995px) {
        margin-top: 1010px;
        margin-left: 50px;
        width: 31vw;
    }
    @media only screen and (max-width: 994px) and (min-width: 991px) {
        margin-top: 990px;
        margin-left: 50px;
        width: 31vw;
    }
    @media only screen and (max-width: 990px) and (min-width: 900px) {
        margin-top: 935px;
        margin-left: 24px;
        width: 31vw;
    }
    @media only screen and (max-width: 900px) and (min-width: 800px) {
        margin-top: 940px;
        margin-left: 13px;
        width: 37vw;
    }
    @media only screen and (max-width: 799px) and (min-width: 650px) {
        margin-top: 906px;
    margin-left: 13px;
    width: 37vw;
    }
}

.partner_header_one {
    width: 72%;
    padding: 40px;

}
// .partner_header_one {
//     width: 72%;
//     padding: 40px;
// }

.header_text {
    font-family: 'Patrick Hand', cursive;
    font-size: 38px;
    font-weight: bold;

    @media only screen and (max-width: 1265px) and (min-width: 621px) {
        font-size: 3vw;
    }


    @media only screen and (max-width: 620px) {
        font-size: 7vw;
    }
}

.header_text_card {
    font-family: 'Patrick Hand', cursive;
    font-size: 30px;
    font-weight: bold;

    @media only screen and (max-width: 1600px) and (min-width: 1100px) {
        font-size: 2vw;
    }
    @media only screen and (max-width: 1100px) and (min-width: 00px) {
        font-size: 2.8vw;
    }

    @media only screen and (max-width: 620px) {
        font-size: 7vw;
    }
}
.partner_body_text{
    font-size: 18px;
    color: #474d52;
    @media only screen and (max-width: 1600px) and (min-width: 821px) {
        font-size: 17px;
    }
    @media only screen and (max-width: 822px) and (min-width: 60px) {
        font-size: 15px;
    }
}
.paragrapgh_text {
    
     color: #474d52;
     font-size: 25px;
     @media only screen and (max-width: 1400px) and (min-width: 901px) {
        font-size: 1.7vw;
    }

    @media only screen and (max-width: 900px) and (min-width: 621px) {
        font-size: 1.9vw;
    }

    @media only screen and (max-width: 620px)  {
        font-size: 5vw;
    }
}

.parterner_header_image {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 68vw;
    width: 33vw;
    max-width: 455px;
    margin-top: 160px;
    @media only screen and (max-width: 1400px) and (min-width: 1200px) {
        margin-top: 160px;
        margin-left: 66vw;
        width: 34vw;
    }
    @media only screen and (max-width: 1200px) and (min-width: 1033px) {
        margin-top: 170px;
        margin-left: 64vw;
        width: 35vw;
    }
    @media only screen and (max-width: 1032px) and (min-width: 991px) {
        margin-top: 162px;
    margin-left: 62vw;
    width: 38vw;
    }
    @media only screen and (max-width: 990px) and (min-width: 901px) {
        margin-top: 100px;
        margin-left: 60vw;
        width: 39vw;
    }
    @media only screen and (max-width: 900px) and (min-width: 860px) {
        margin-top: 120px;
        margin-left: 60vw;
        width: 40vw;
    }
    @media only screen and (max-width: 860px) and (min-width: 800px) {
        margin-top: 127px;
        margin-left: 60vw;
        width: 40vw;
    }
    @media only screen and (max-width: 800px) and (min-width: 750px) {
        margin-top: 129px;
    margin-left: 58vw;
    width: 40vw;
    }
    @media only screen and (max-width: 750px) and (min-width: 690px) {
        margin-top: 135px;
    margin-left: 58vw;
    width: 41vw;
    }
    @media only screen and (max-width: 690px) and (min-width: 650px) {
        margin-top: 135px;
    margin-left: 58vw;
    width: 42vw;
    }
    // @media only screen and (max-width: 1150px) and (min-width: 1050px) {
    //     margin-top: 1vw;
    //     // width: 33vw;
    //     // margin-left: 74vw;
    // }

    // @media only screen and (max-width: 1050px) and (min-width: 901px) {
    //     margin-top: 1vw;
    //     width: 37vw;
    //     // margin-left: 74vw;
    // }

    // @media only screen and (max-width: 900px) and (min-width: 850px) {
    //     margin-top: 2.5vw;
    //     width: 37vw;
    //     // margin-left: 66vw;
    // }
    // @media only screen and (max-width: 851px) and (min-width: 600px) {
    //     margin-top: 35px;
    //     width: 37vw;
    //     // margin-left: 66vw;
    // }

    // @media only screen and (max-width: 740px) {
    //     margin-top: 3.5vw;
    //     width: 42vw;
    //     margin-left: 70vw;
    // }
}


@media screen and (max-width: 1000px) and (min-width: 600px) {
    .container {
        max-width: 960px;
    }
}
// @media screen and (max-width: 5000px) and (min-width: 1440px) {
//     .container {
//         // max-width: 1400px;
//     }
// }

@media only screen and (max-width: 650px) {
    .parterner_header_image {
        display: none;
    }
    .parterner_header_image_two {
        display: none;
    }

    .partner_header_one {
        width: 100%;
        padding: 40px;
        text-align: center;
        // padding-right: 28px;
    }

    .container {
        max-width: 960px;
        padding: 0px;
    }
    .partner_paragraph{
        text-align: center !important;
    }
}

.partner_individual_point {
    margin-top: 55px;
    padding-top: 20px;
    @media screen and (max-width: 650px) {
        padding-top: 0px;
        // text-align: center;
    }
}

.layer_two_re{
    margin-left: 50px;
    @media screen and (max-width: 650px) {
        margin-left: 0px;
        // text-align: center;
    }
}


// ?//////////////////////?
.secoend_partner_details{
    margin-top: 140px;
    margin-bottom: 140px;
    @media screen and (max-width: 1095px) and (min-width: 650px) {
        margin-bottom: 50px;
    }
        @media only screen and (max-width: 650px) {
        margin-top: 40px;
        margin-bottom: 50px;
    }
}
.partner_individual_point{
    display: flex;
    justify-content: space-around;

    @media screen and (max-width: 1100px) {
        flex-wrap: wrap;
    }
}
.partner_individual_point .card{
    margin-top: 20px;
    width: 20%;
    box-shadow: 0px 0px 10px 1px;
    color: #815e91;
    @media screen and (max-width: 1100px) and (min-width: 650px) {
        width: 40%;
    }
    @media screen and (max-width: 650px) {
        width: 70%;
    }
}
.header_text_partner{
    // font-size: 30px;
    font-family: 'Patrick Hand', cursive;
    color: #604ca4;
}


.top_diiv{
    padding-top: 160px;
    @media screen and (max-width: 990px) {
        padding-top: 100px;
    }
    @media screen and (max-width: 650px) {
        padding-top: 15px;
    }

}