<div class="container mt-5">
    <div class="layer">
        <div class="partner partner_top_box mt-5">
            <div class="partner_header_one">
                <div class="partner_header">
                    <h1 class="header_text text-white">What we offer to our partners!</h1>
                </div>
                <div class="partner_paragraph">
                    <p class="paragrapgh_text text-white">Support is the biggest pillar of our success till now! We have
                        been able to successfully develop a very
                        prompt support system that helps our partners solve complex problems very easily. We believe
                        that we can
                        only grow when our partners are growing equally. Each and every outlet is looked after by our
                        core team
                        which ensures our partners not going into trouble at any point of time.
                    </p>
                </div>
            </div>
            <div class="partner_header_img">
                <img class="parterner_header_image" src="../../../assets/partner_roti.png" />
            </div>
        </div>
    </div>
</div>

<div class="partner_individual_point">
    <div class="card">
        <div class="card-body">
            <div class="partener_text_header">
                <h1 class="header_text_partner header_text">01 Setup</h1>
            </div>
            <div class="partener_text_body">
                <p class="partner_body_text">
                    Full shop and kitchen location and setup and staff assistance
                </p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="partener_text_header">
                <h1 class="header_text_partner header_text">02 Social Media</h1>
            </div>
            <div class="partener_text_body">
                <p class="partner_body_text">
                    Full shop and kitchen location and setup and staff assistance
                </p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="partener_text_header">
                <h1 class="header_text_partner header_text">03 Licensing</h1>
            </div>
            <div class="partener_text_body">
                <p class="partner_body_text">
                    Licensing support along with Swiggy and Zamato Integration
                </p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="partener_text_header">
                <h1 class="header_text_partner header_text">04 Raw Material</h1>
            </div>
            <div class="partener_text_body">
                <p class="partner_body_text">
                    A-Z Raw Material support
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container secoend_partner_details">
    <div class="layer_two layer_two_re" style="">
        <div class="partner partner_top_box_two">
            <div class="partner_header_img">
                <img class="parterner_header_image_two" src="../../../assets/partner_roti.png" />
            </div>
            <div class="partner_header_one">

                <div class="partner_paragraph" style="text-align: end;">
                    <p class="paragrapgh_text text-white">Food business which looks extremely lucrative and profitable
                        from the outer world is an extremely challenging form of business too and any wrong step causes
                        a considerable amount of loss. We ensure through our daily interaction that our partners avoid
                        those mistakes and run a profitable business without any hiccups!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="partner_individual_point">
    <div class="card">
        <div class="card-body">
            <div class="partener_text_header">
                <h1 class="header_text_partner header_text">05 Training</h1>
            </div>
            <div class="partener_text_body">
                <p class="partner_body_text">
                    Staff sourcing, hiring and training support
                </p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="partener_text_header">
                <h1 class="header_text_partner header_text">06 Growth</h1>
            </div>
            <div class="partener_text_body">
                <p class="partner_body_text">
                    Data analysis and growth support
                </p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="partener_text_header">
                <h1 class="header_text_partner header_text">07 Operation Support</h1>
            </div>
            <div class="partener_text_body">
                <p class="partner_body_text">
                    24*7 support on operations
                </p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="partener_text_header">
                <h1 class="header_text_partner header_text">08 Market Study</h1>
            </div>
            <div class="partener_text_body">
                <p class="partner_body_text">
                    Current Market trends and competition analysis
                </p>
            </div>
        </div>
    </div>
</div>

<div class="pt-5">
    HELLo
</div>