<app-navbar></app-navbar>

<div class="main_padding">
    <div class="container" style="height: 90vh;">
        <div class="container__heading">
            <h2 style="font-size: 2rem;font-weight: 700;">Privacy Policy
            </h2>
            <p class="p-2 m-0">For any queries: <b>[support@bogmalofoods.com]</b></p>
            <p>We appreciate your confidence in us. That is why we emphasize the rigorous quality for safe transactions
                and the protection of consumer information. Please read the following disclosure to understand more
                about our procedures for obtaining and disseminating information.</p>
        </div>
        <div class="container__content">
            <div class="pt-4">
                <p style="text-align: center; font-size: 1.2em;"><strong>Points to take note:</strong></p>

                <p>Please bear in mind that our privacy laws may change at any time and without warning. Please review
                    this policy on a frequent basis to ensure that you are aware of any changes.</p>
                <p>By accessing this website, you expressly accept the rules and conditions of this Privacy Policy. If
                    you do not agree, please do not use or access our website.
                </p>
                <p>You agree and acknowledge our use and dissemination of your personal information in line with this
                    Privacy Policy by simply using the website.
                </p>
                <p>Collection of Personally Identifiable Information and other Information
                    We gather and retain your personal information submitted by you periodically when you visit our
                    website. Our major objective is to give you a comfortable, efficient, pleasant, and personalised
                    experience. This enables us to deliver services and features that are likely to match your needs, as
                    well as to adapt our website to ensure your interaction simpler and easier. More significantly,
                    while doing so, we acquire personal information from you that we believe is required for this
                    reason.
                </p>
                <p>In general, you can visit the Website without exposing your identity or other personal information
                    about yourself. You are no longer anonymous after you provide us with your personal information. We
                    clarify which fields are necessary and which are optional wherever feasible. You cannot always
                    disclose information by declining to access a certain service or feature on the website. We may
                    monitor certain information about you automatically depending on your website usage.
                </p>
                <p>On specific internet pages, we deploy data gathering devices such as "cookies" to assist evaluate web
                    page flow, monitor promotional effectiveness, and encourage stability and security.
                </p>
                <p>A cookie is a segment of data saved on the device's hard drive and comprises information about the
                    user. Many web pages, including this one, employ cookie technology to make it easier for our
                    consumers to explore. Our site will periodically seek the cookie from your system in order to
                    retrieve the stored information. Understanding how you use the site allows us better to customize
                    our information and service to your requirements. For example, by placing a cookie on our site, the
                    user will not have to enter their password more than once, saving time while on our site. The cookie
                    automatically expires when the user closes their browser. Even if visitors deny the cookie, they can
                    still access our website. While on our site, using a cookie is not associated with any personal
                    identifiers.
                </p>
                <p>Cookies may be used on our sites by some of our business partners (such as advertising). We do not,
                    however, have direct authority over these cookies. In most browsers, a user may configure the
                    options to display a notification each time a cookie request is detected, as well as to prevent the
                    browser from accepting cookies. Nevertheless, to make your visit to our site as easy and comfortable
                    as possible, we recommend that you enable your browser to accept cookies.
                </p>
                <p>If you choose to make a purchase on the website, we will gather data about your purchasing patterns.
                </p>
                <p>We gather additional details when you engage with us, such as a postal address, a credit/debit card
                    number, a credit/debit card expiry date, and/or other means of payment data and monitoring data from
                    invoices or money orders.
                </p>
                <p>We will collect the information you offer us if you choose to post messages on our message boards,
                    chat rooms, or other messaging sections, or if you provide comments. As authorized by law, we
                    preserve this information in order to resolve disputes, offer customer assistance, and troubleshoot
                    problems.
                </p>
                <p>If you give us personal communication, such as emails or letters, or if other users or third parties
                    send us letters concerning your operations or activities on the website, we may capture such details
                    and include it in a file assigned to you.
                </p>
                <p>When you create a free account with us, we gather personally identifiable information (email address,
                    name, phone number, credit card/debit card / other payment instrument data, and so on) from you.
                    Although you may view various areas of our website freely, certain actions (such as making an order)
                    need registration. We use your contact information to bring you offers based on prior purchases and
                    your preferences.
                </p>

            </div>

        </div>

    </div>
</div>